@charset "utf-8";
*{ margin:0; padding:0;}
.l{float:left}
.r{float:right}
.m{ margin:0 auto}
body {color:#000; background:#FFF; font-family: Verdana, Arial, sans-serif; font-size: 12px;}
input, select {font-size:12px; vertical-align:middle;} 
ul,ol,li{list-style:none;}.pointer { cursor:pointer; } 
img {border:none;} a {color:#000; text-decoration:none;} a:hover { text-decoration:underline;}
h1,h2,h3,h4,h5,h6,b,strong{ font-size:12px; font-weight:nomal;}
.NoBorder { border:none; } .NoPadding { padding:0; } .NoMargin{ margin:0;}
.t_l { text-align:left; }.t_c { text-align:center; } .t_r { text-align:right; }
.Break { word-break:break-all; word-wrap:break-word; } 
.Nobreak { word-break:keep-all; word-wrap:normal; } 
.FL { float:left; } .FR { float:right; } .UnLine { text-decoration:underline; } 
.DisUnLine { text-decoration:none; } .absolute { position:absolute; } 
.relative { position:relative; } .o-hidden { overflow:hidden; } 
.v-hidden {visibility:hidden; } .hidden { display:none; } 
.block { display:block; }.clear { clear:both;} 
.FB { font-weight:bold; } .FN { font-weight:normal; }
.FI { font-style:italic; } .F10 { font-size:10px; } .F11 { font-size:11px; }
.F12 { font-size:12px; } .F13 { font-size:13px; } .F14 { font-size:14px; }
.F16 { font-size:16px; } .F18 { font-size:18px; }
a:hover{ text-decoration:none}
.navList li a{ font-size:16px}
img{ border:none; display:block; cursor:pointer}
/*公共头部*/
.outTop{width:100%;background:#EEEEEE;height:36px;line-height:34px;text-align:center;}
.outTop .top{width:1200px; height:36px;}
.topLeft li{float:left;height:36px;}
.topLeft li a{font-size:12px; padding:0 7px;border-right:1px solid #000}
.topRight li{float:left;}
.topRight .guanzhu{ position:relative;}
.guanzhuImg{ position:absolute; z-index:100; display:none;left:0;top:30px}
.topRight li a{ font-size:12px;border-left:1px solid #000; padding:0 7px;}
.My_al{ position:relative; z-index:100}
.myal{ position:absolute;display:none;top:30px;left:0; background:#fff; border:1px solid #999; border-top:none}
.topRight li .sanjiao:hover{transform: rotate(180deg)}
.myal li a{ border:none}
.topLeft li .zk{border:none; color:red}
.topRight li a:hover{color:#E4393C}
.topRight li .sanjiao{ font-size:12px; color:#000;}
/*头部下面图片*/
.reduce{height:80px;clear:both; position:relative; overflow:hidden}
.reduce img{ display:block}
.reduce #closeReduce{width:15px; height:15px; border-radius:10px; position:absolute;right:20px;top:10px; z-index:2;color:#FFF}
/*logo部分*/
.logo{height:92px; padding-top:18px;}
.logoPic{ padding-left:10px;float:left; margin-right:10px}
.movePic{float:left}
.searchBox{float:left;margin-left:8px; margin-right:44px}
.searchBox #search1{width:338px;height:30px;border:3px solid #D7181A;border-right:none;float:left;}
.searchBox #search2{ display:block;width:50px; height:36px; background:#D7181A;float:left;color:#FFF; text-align:center; line-height:36px; }
.searchBox_Ul li{ float:left; margin-right:8px;padding-top:10px}
.searchBox_Ul li a{font-size:13px;color:#666; }
.ewm{width:140px; height:64px; border:1px solid #666;float:left; position:relative}
.ewm img{float:left; padding:3px 0 0 3px}
.ewm p{font-size:12px; line-height:10px; text-align:center; padding-top:10px}
.ewm .p1{color:red}
.gb{ position:absolute;top:0; right:0; font-size:12px; border:1px solid #ccc}
.logo .shopCar{width:140px; height:36px; border:1px solid #EEEEEE;float:right; line-height:36px;position:relative;}
.logo .shopCar img{float:left; padding-top:5px; padding-right:10px}
.shopCar_div{width:200px; height:60px; border:1px solid #ccc;left:-60px; text-align:center; line-height:60px;display:none; position:absolute;}

.outTop{width:100%;height:34px;border-bottom:1px solid #EEEEEE; background:#F7F7F7 }
/*logo部分*/
.logo_Div{height:62px; margin-top:30px; margin-bottom:40px}
.logo_Div h2{float:left}
.logo_Div_Right{float:right}
.logo_Div_Right li{float:left}
/*二级菜单*/
/*产品分类*/
.product{ height:42px; line-height:42px}
.erjimenu{width:208px; height:42px; background:#F00; float:left; position:relative}
.Allpro{width:208px; height:42px; text-align:center;color:#fff}
.product .erji{position:absolute;top:42px; display:none;width:208px; z-index:20 }
.erji .active1{ background:red}
.erji li{width:193px; height:42px; background:#E43B3D; padding-left:15px}
.erji li a{color:#fff; font-size:14px}
.erji li img{ display:inline-block}
.sanji{ position:absolute;left:208px; display:none; overflow:hidden;width:302px; height:482px; z-index:120}
.sanji div{width:300px; height:480px; border:1px solid red; background:#FFF}
.navList{height:42px;line-height:42px; padding-left:30px; float:left}
.navList li{float:left; margin-right:28px;}
.navList li a{color:#000}
.navList li .active{color:#D91C23}
.navList li a:hover{color:#D91C23}
.navList .hotLi{ position:relative}
.navList .hot{ position:absolute;top:0;right:-15px}
/*个人中心*/
.person{ padding-left:20px; clear:both}
#peson_P{ font-size:12px; height:60px; line-height:60px; color:#666}
.main_personLeft{float:left;width:160px; height:545px; border:1px solid #ccc; margin-right:16px} 
.main_personLeft dl dd{ height:34px; line-height:34px; color:#000; font-size:18px; font-weight:600; background:#EEEEEF; border-left:1px solid #000; padding-left:10px}
dt{padding-top:14px; text-align:center;background:#FAFAFA;}
.dt1{height:58px;}
dt a{font-size:13px; display:block; height:30px; line-height:30px;color:#000}
dt a:hover{ background:#F00}
.dt2{height:86px;}
.dt3{ height:60px}
.dt4{ height:148px}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%公共底部*/
/*购物指南*/
.out_guide{width:100%; height:210px; border-bottom:1px solid #eee; border-top:1px solid #eee; margin-top:580px; clear:both} 
.guide{ padding-left:100px; padding-top:30px}
.guide ul{float:left; margin-right:130px}
.guide ul li{height:30px; }
.guide ul .li1{ font-size:20px}
.guide ul li a{font-size:12px;color:#999999}
.guide ul .mob{color:red; font-size:20px}
.guide ul .kefu{font-size:12px}
/*版权部分*/
.copyright{height:120px; text-align:center;}
.copyright ul{ display:inline-block}
.copyright li{float:left; font-size:12px; height:44px; line-height:44px}
.copyright li a{font-size:12px;color:#333333; padding:0 10px;height:12px; display:block; }
.copyright p span{ font-size:12px}
.copyright p a{font-size:12px}
.copyright img{ display:inline-block;width:110px; height:40px; margin-top:5px; border-radius:6px}