@charset "utf-8";
/* CSS Document */
.w{width:1200px}
#main .right{ width:1000px; float:left;}
#main .right .title{ height:20px; line-height:20px; width:1000px; border-bottom:1px solid #c80a28; color:#c80a28; font-weight:bold; font-size:14px; margin-bottom:20px;}
#main .right .choose{ width:998px; height:32px; border:1px solid #ddd; line-height:32px;}
#main .right .choose a{ display:block; float:left; padding:0 16px; color:#565656; border-right:1px solid #ddd;}
#main .right .choose .cheap{ position:relative;}
#main .right .choose .cheap em{ position:absolute; font-size:11px; top:-14px; left:34px; display:block; width:21px; height:21px; background:url(../img/imgCollect/user_center.png) -172px -630px no-repeat; line-height:20px; text-align:center; color:#fff;}
#main .right .choose .time em{ display:inline-block; width:7px; height:8px; background:url(../img/imgMyCollect/user_center.png) -55px -610px no-repeat; margin-left:3px;}
#main .right .contral{ height:55px; line-height:55px;}
#main .right .contral input{ margin-right:14px;}
#main .right .contral span{ margin-right:22px;}
#main .right .contral a{ color:#999;}
#main .right .contral a em{ margin-right:8px; background:url(../img/imgCollect/user_center.png) -24px -630px no-repeat; display:inline-block; width:9px; height:12px;}
#main .right .container{ width:1000px; height:410px;}
#main .right .container .good{ height:365px; width:186px; margin-right:32px; float:left;}
#main .right .container .good img{ margin-bottom:10px;}
#main .right .container .good input{ margin-right:6px;}
#main .right .container .good label{ color:#565656;}
#main .right .container .good p{ line-height:26px; text-align:center;}
#main .right .container .good p .now{ color:#c80a28; margin-right:8px; font-weight:bold;}
#main .right .container .good p .then{ color:#999; font-size:10px;}
#main .right .container .good p .sp1{ color:#ddd; padding:0 13px;}
#main .right .container .good p a{ display:inline-block; width:15px; height:12px;}
#main .right .container .good p .delete{ background:url(../img/imgCollect/user_center.png) -24px -630px no-repeat;}
#main .right .container .good p .home{ background:url(../img/imgCollect/user_center.png) -58px -630px no-repeat;}
#main .right .container .good p .car{ background:url(../img/imgCollect/user_center.png) -96px -630px no-repeat;}
#main .right .container .good p .zhe{ display:inline-block; width:28px; height:17px; line-height:17px; margin-right:12px; color:#fff; text-align:center; background:url(../img/imgCollect/user_center.png) -137px -630px; font-style:normal;}
#main .right .total{ text-align:center; color:#999;}
