@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0}
li,ol,ul{list-style:none}
a{ text-decoration:none}
.w{width:1220px; margin:0 auto}
img{ display:block}
/*%%%%%%%%%%%%头部&&&&&&&&&&&&&&&&&&&&*/
.outTop{width:100%;height:34px;border-bottom:1px solid #EEEEEE; background:#F7F7F7 }
/*logo部分*/
.logo_Div{height:62px; margin-top:30px;}
.logo_Div h2{float:left}
.logo_Div_Right{float:right}
.logo_Div_Right li{float:left}
/*login部分*/
.login{height:415px;margin-top:60px; padding-left:150px}
.login_Pic{float:left; margin-top:13px; margin-right:165px}
.form{width:303px; height:382px; border:1px solid #CACACA;float:left; border-radius:10px; padding:28px 0 0 42px}
.form p{height:26px; line-height:26px} 
.form p span{float:left; font-size:24px; color:#000; font-weight:600px; margin-right:75px}
.form p .zhuce{float:left;display:block; font-size:12px;color:#CACACA}
#phone{width:200px; height:30px; border:1px solid #CACACA; border-radius:5px; margin-top:25px;}
#pwd{width:200px; height:30px; border:1px solid #CACACA; border-radius:5px; margin-top:25px; display:block; margin-bottom:25px}
.forget{font-size:12px; padding-right:46px; display:block;float:right}
#btn{text-align:center;width:248px;height:32px; background:#D61917;border:none; border-radius:5px; margin-top:12px;color:#FFF}
.form h6{color:#888888; font-size:12px; margin-top:10px; font-weight:200; margin-bottom:10px}
.form h5 a{float:left; display:block; margin-right:15px}
/*购物指南*/
.out_guide{width:100%; height:210px; border-bottom:1px solid #eee; border-top:1px solid #eee; margin-top:20px} 
.guide{ padding-left:100px; padding-top:30px}
.guide ul{float:left; margin-right:130px}
.guide ul li{height:30px; }
.guide ul .li1{ font-size:20px}
.guide ul li a{font-size:12px;color:#999999}
.guide ul .mob{color:red; font-size:20px}
.guide ul .kefu{font-size:12px}
/*版权部分*/
.copyright{height:120px; text-align:center;}
.copyright ul{ display:inline-block}
.copyright li{float:left; font-size:12px; height:44px; line-height:44px}
.copyright li a{font-size:12px;color:#333333; padding:0 10px;height:12px; display:block; }
.copyright p span{ font-size:12px}
.copyright p a{font-size:12px}
.copyright img{ display:inline-block;width:110px; height:40px; margin-top:5px; border-radius:6px}

