@charset "utf-8";
/* CSS Document */

.suc{ font-size:20px; color:#c70a28; text-align:center; line-height:60px;}
.orderInfo{ width:699px; height:58px; border:1px solid #ddd; margin:0 auto 10px;}
.orderInfo .title{ width:699px; height:23px; background:#e9e9e9; border-bottom:1px solid #ddd;}
.orderInfo .title .no{ text-align:center; width:252px; float:left; height:23px; line-height:23px;}
.orderInfo .title .payPrice{ text-align:center; width:162px; float:left;height:23px; line-height:23px;}
.orderInfo .title .sendWay{ text-align:center; width:155px; float:left;height:23px; line-height:23px;}
.orderInfo .title .payWay{ text-align:center; width:130px; float:left;height:23px; line-height:23px;}
.orderInfo .bot{ height:34px; width:699px;}
.orderInfo .bot .no{ border-right:1px solid #ddd; text-align:center; width:251px; float:left; height:34px; line-height:34px;}
.orderInfo .bot .payPrice{ border-right:1px solid #ddd; text-align:center; width:161px; float:left;height:34px; line-height:34px;}
.orderInfo .bot .sendWay{ border-right:1px solid #ddd; text-align:center; width:154px; float:left;height:34px; line-height:34px;}
.orderInfo .bot .payWay{ text-align:center; width:130px; float:left;height:34px; line-height:34px;}

.rem{ height:40px; width:700px; margin:0 auto 15px;}
.rem .sp1{ float:left; color:#c80a28; margin-right:8px; line-height:25px;}
.rem p{ float:left; width:455px; padding-left:14px; height:25px; line-height:25px; background:url(../img/orderSuc/os_03.gif) no-repeat;}
.rem p span{color:#c80a28; margin-right:37px;}
.rem p a{ color:#565656;}
.rem .btn{ float:right; display:block; width:157px; height:36px; background:url(../img/orderSuc/os_05.gif) no-repeat;}

.saoma{ width:230px; margin:0 auto 45px;}
.saoma p{text-align:center;}
.saoma .p1{ line-height:58px; font-size:20px; }
.saoma .p2{ line-height:20px;}
.saoma .p3 a{ color:#0066bb;}

.tabInfo{ width:458px; height:149px; border:1px solid #ddd; border-bottom:0; margin:0 auto 240px;}
.tabInfo .td1{ padding-right:10px; border-bottom:1px solid #ddd; border-right:1px solid #ddd; width:110px; text-align:right; height:49px; background:#fbfbfb;}
.tabInfo .td2{ padding-left:10px; border-bottom:1px solid #ddd; width:327px; height:49px;}