@charset "utf-8";
/* CSS Document */
.w{width:1200px}
#main{ width:1200px; height:425px; padding-top:50px; margin:0 auto;}
#main .top{ width:1200px; height:237px;}
#main .top .left{ float:left; width:304px; padding-left:180px; height:237px;}
#main .top .right{ float:left; height:237px; width:500px; padding-left:25px;}
#main .top .right p{ line-height:50px; margin-bottom:16px; font-weight:bold; font-size:16px;}
#main .top .right .level1{ height:36px; padding-left:45px;}
#main .top .right .level1 a{ display:block; float:left; width:168px; height:36px; line-height:36px; color:#fff; font-weight:bold; text-align:center; font-size:16px; margin-right:50px; background:#c80a28;}
#main .top .right .level2{ padding-left:45px;}
#main .top .right .level2 span{ line-height:80px; font-size:14px;}
#main .top .right .level2 .red{ color:#c80a28; font-size:14px; line-height:80px;}

#main .bot{ height:168px; width:1198px; border:1px solid #ddd;}
#main .bot .title{ height:37px; width:1185px; padding-left:13px; line-height:37px; border-bottom:1px solid #ddd; font-size:16px; font-weight:bold;}
#main .bot .info{ padding-top:15px;}
#main .bot .info li{ width:283px; height:100px; padding:0 95px 0 20px; border-right:1px dashed #ddd; float:left;}
#main .bot .info li img{ float:left; margin-right:15px;}
#main .bot .info li p{ float:left; font-size:16px; color:#565656; margin-bottom:17px;}
#main .bot .info li span{ float:left; font-size:14px; color:#666; line-height:16px;}
#main .bot .info li div{ height:80px; width:190px; float:left;}


