@charset "utf-8";
/* CSS Document */
.w{width:1200px}
/*产品分类*/
.product{ height:42px; line-height:42px}
.erjimenu{width:208px; height:42px; background:#F00; float:left;overflow:-hidden; position:relative}
.Allpro{ position:208px; height:42px; text-align:center;color:#fff}
.erji{ position:absolute;top:42px; display:none;width:208px }
.erji .active1{ background:red}
.erji li{width:193px; height:42px; background:#E43B3D; padding-left:15px}
.erji li a{color:#fff; font-size:14px}
.erji li img{ display:inline-block}
.sanji{ position:absolute;left:208px; display:none; overflow:hidden;width:302px; height:482px;}
.sanji div{width:300px; height:480px; border:1px solid red; background:#FFF}
.navList{height:42px;line-height:42px; padding-left:30px; float:left}
.navList li{float:left; margin-right:28px;}
.navList li a{color:#000}
.navList li .active{color:#D91C23}
.navList li a:hover{color:#D91C23}
.navList .hotLi{ position:relative}
.navList .hot{ position:absolute;top:0;right:-15px}
/*个人中心*/
.person{ padding-left:20px}
#peson_P{ font-size:12px; height:60px; line-height:60px; color:#666}
.main_personLeft{float:left;width:160px; height:545px; border:1px solid #ccc; margin-right:16px; }
.main_personLeft dl dd{ height:34px; line-height:34px; color:#000; font-size:18px; font-weight:600; background:#EEEEEF; border-left:1px solid #000; padding-left:10px}
dt{padding-top:14px; text-align:center;background:#FAFAFA;}
.dt1{height:58px;}
dt a{font-size:13px; display:block; height:30px; line-height:30px;color:#000}
dt a:hover{ background:#F00}
.dt2{height:86px;}
.dt3{ height:60px}
.dt4{ height:148px}
.main_personRight{float:left;width:1000px;}
.main_personRight_top{ height:206px;width:1000px; border:1px solid #D1D1D1; }
.main_personRight_top p{ height:34px; border-bottom:1px solid #D1D1D1; line-height:34px; background:#EEEEEF; font-size:14px; padding-left:20px}
.main_personRight_top p span{ margin-right:40px}
.main_personRight_bottom{ height:150px; background:#FAFAFA; padding-top:20px; padding-left:30px}
.main_personRight_bottom img{float:left; margin-right:20px}
.div1{float:left;width:600px}
.things{ padding-left:36px; height:56px; width:564px; background:#FFF; line-height:56px; margin-bottom:15px}
.things li{float:left; margin-right:30px}
.jf{height:56px; width:564px; background:#FFF; padding-left:36px; }
.jf li{ float:left;}
.jf .two{ margin-left:20px; margin-right:20px}
.jf .limit{width:58px; line-height:14px; margin-top:15px}
.jf .limit span{ font-size:14px}
.quan{float:left; display:block;width:76px; height:26px; background:#F33; margin-top:15px; font-size:14px; line-height:26px; text-align:center; color:#FFF}
.zero{float:left; display:block;width:76px; height:26px; background:#ccc; margin-top:15px; font-size:14px;line-height:26px; text-align:center }
.main_personRight_bottom .yhq{ margin-right:0;float:right; margin-top:-20px; display:block}