@charset "utf-8";
/* CSS Document */
.w{width:1200px}
/*注册部分*/
.main_zhuce{height:450px; border:1px solid #CCCCCC; border-radius:5px; padding:30px 0 0 45px;width:955px}
.main_zhuce_left{float:left;}
.main_zhuce_right{float:right; padding-right:20px}
.main_zhuce h2,.main_zhuce p{ margin-bottom:25px}
.main_zhuce p{ height:36px; line-height:36px}
.main_zhuce_left .span1{color:#D8AFE9}
.main_zhuce_left .span2{color:#888}
.main_zhuce_left .yan{letter-spacing:6px;}
.txt1,.txt2,.txt22{width:247px; height:34px; border-radius:5px; border:1px solid #CCCCCC;color:#A9A9A9}
.txt1_1{width:247px; height:34px; border-radius:5px; border:1px solid #00f;color:#A9A9A9;  position:relative;top:-36px;left:350px}
.main_zhuce_left input{ padding-left:5px; display:inline-block}
.main_zhuce_left .txt3{width:146px; height:32px; border:1px solid #CCCCCC; border-radius:5px;color:#888}
.txt2_1,.txt2_2,.txt3_3{width:247px; height:34px; border-radius:5px; border:1px solid #00f;color:#A9A9A9;  position:relative;top:-36px;left:350px; font-size:12px}
.main_zhuce p .txt2_1{font-size:10px;line-height:12px;height:34px;}
.yzm{width:60px; height:24px; border:1px solid #000;top:-40px; background:#000; opacity:0.6; font-size:16px;color:#FFF}
.zhuce{ display:block;width:338px; height:36px; background:#F00; text-align:center; color:#fff; line-height:36px; margin-top:10px; border-radius:5px}
.Is_zc{ font-size:12px; padding-left:183px}
